<form action="/login" method="post">
    <label for="">Username</label> <br>
    <input type="text" name="username"> <br>
    <br>
    <label for="">Password</label> <br>
    <input type="text" name="password"> <br>
    <br>
    <button type="submit">Login</button>
</form>